@import '../../node_modules/normalize-scss/sass/normalize';
@import './theme';

@include normalize();

body {
  font-family: $font-family;

  h1 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 16px;
  }
}
