@import '../../node_modules/normalize-scss/sass/normalize';
@import './theme';

@include normalize();

body {
  font-family: $font-family;

  .header-1 {
    color: $tertiary-200;
    font-size: $font-size-500;
    font-style: italic;
    font-weight: normal;
    text-align: end;
  }

  p {
    margin-bottom: 16px;
  }
}
