@import '../../themes/theme';

.blockquote {
  background-color: rgba($neutral-500, 0.7);
  color: $text-color-100;
  overflow: hidden;
  padding: $spacing-300 $spacing-200;
  position: relative;
  text-align: center;
  width: 100%;

  p {
    font-size: $font-size-500;
    margin: auto;
    max-width: 600px;
  }

  footer {
    font-size: $font-size-200;
    margin-top: $spacing-200;
  }
}

.img-container {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  img {
    mix-blend-mode: multiply;
  }
}

@media screen and (min-width: $bp-300) {
  .blockquote {
    padding: $spacing-600 $spacing-300;

    p {
      font-size: $font-size-600;
    }

    footer {
      font-size: $font-size-300;
      margin-top: $spacing-300;
    }
  }
}
